[submodule "react-tiktok-clone"]
	path = react-tiktok-clone
	url = https://github.com/k8pai/tiktok-UI-clone.git
[submodule "react-Birthday-app"]
	path = react-Birthday-app
	url = https://github.com/k8pai/Birthday-app.git
[submodule "react-quiz-app"]
	path = react-quiz-app
	url = https://github.com/k8pai/quiz-app.git
[submodule "react-tours-app"]
	path = react-tours-app
	url = https://github.com/k8pai/tours-app.git
[submodule "react-restaurant-menu"]
	path = react-restaurant-menu
	url = https://github.com/k8pai/Restaurant-menu.git
